<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.t3r1jj.pbmap">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="io.github.t3r1jj.pbmap.WRITE_DATABASE"
        android:protectionLevel="signature"/>

    <application
        android:name=".MapApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        tools:replace="android:label">
        <receiver android:name=".logging.ConnectionChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".main.MapActivity"
            android:label="@string/name_app"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".search.SearchListProvider"
            android:authorities="io.github.t3r1jj.pbmap.search.SearchListProvider"
            android:writePermission="io.github.t3r1jj.pbmap.WRITE_DATABASE"
            android:exported="true" />

        <activity
            android:name=".about.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".main.MapActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.t3r1jj.pbmap.main.MapActivity" />
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".main.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.t3r1jj.pbmap.main.MapActivity" />
        </activity>
    </application>

</manifest>